<footer class="site-footer">

  <div class="wrapper">

    <p>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://scholar.google.com/citations?user=GnYUnUAAAAAJ&hl=en">
              <span class="icon  icon--google_scholar">
                <img class="site_icon" src="/images/google-scholar-icon.png">
              </span>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>

          <li>
            <a href="/images/wechat-qrcode.png">
              <span class="icon  icon--twitter">
                <img class="site_icon" src="/images/wechat-icon.png">
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
